// app global css in SCSS form

.bg-dark-slate {
  background-color: #121826 !important;
}
.bg-darker-slate {
  background-color: #272C39 !important;
}
.bg-darkest {
  background-color: #1a1e2a !important;
}
// Optionally add a text color override if needed
.text-dark-theme-auto {
  color: #ffffff;
}
